.allPages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.allPages__develop {
  font-size: clamp(16px, 6.8202764977px + 2.2119815668vw, 40px);
  line-height: line-height(16px, 16px);
}
.allPages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.allPages__link {
  counter-increment: list;
  font-size: clamp(16px, 10.6451612903px + 1.2903225806vw, 30px);
  font-weight: 800;
  line-height: line-height(16px, 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.allPages__item {
  width: 100%;
  height: 100%;
}
.allPages__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: clamp(16px, 14.4700460829px + 0.3686635945vw, 20px);
  font-weight: 400;
  text-transform: uppercase;
}
.allPages__review {
  font-size: clamp(16px, 10.6451612903px + 1.2903225806vw, 30px);
  font-weight: 500;
}
.allPages__review a {
  font-weight: 800;
}