.good-section {
  overflow: hidden;
}
.good-section__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(18px, -11.4388489209px + 2.8776978417vw, 30px);
  min-width: 0;
  width: 100%;
}
.good-section__swiper-box {
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.good-section__swiper-box .swiper,
.good-section__swiper-box .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.good-section__swiper-big {
  width: 100%;
  height: clamp(250px, 46.6850828729px + 42.3572744015vw, 480px);
  position: relative;
}
.good-section__img {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color-600);
}
.good-section__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.good-section__swiper-little {
  height: clamp(70px, 2.817679558px + 13.9963167587vw, 146px);
}
.good-section__swiper-little .swiper-slide {
  cursor: pointer;
}
.good-section__swiper-little .swiper-slide .good-section__img {
  border: 2px solid var(--bg-color);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.good-section__swiper-little .swiper-slide-thumb-active .good-section__img {
  border-color: var(--primary-color-100);
}
.good-section__info {
  width: 100%;
}
.good-section__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 84px;
}
.good-section__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
.good-section__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: clamp(20px, 9.3922651934px + 2.2099447514vw, 32px);
  background-color: var(--secondary-color-900);
  width: 100%;
}
.good-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.good-section__link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1215686275);
  padding-top: 12px;
}
.good-section__link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.good-section__link-item .p2 {
  font-size: 15px;
}
.good-section__link-key {
  opacity: 0.6;
}
@media (max-width: 1179px) {
  .good-section__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1023px) {
  .good-section__content {
    gap: clamp(10px, 2.9281767956px + 1.4732965009vw, 18px);
  }
}
@media (max-width: 767px) {
  .good-section__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    padding: 0;
  }
  .good-section__link-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1215686275);
    padding-top: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}