.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.top__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__info {
  position: relative;
  width: 100%;
}
.top__swiper-box {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.top__swiper-box .swiper {
  width: 100%;
  height: 100%;
}
.top__item, .top__item-img {
  width: 100%;
  height: 100%;
}
.top__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top__info-content {
  position: relative;
  z-index: 2;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  height: 100%;
}
.top__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.top__details {
  max-width: 305px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.advantages {
  background-color: var(--secondary-color-900);
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
.advantages__items .advantages-card {
  grid-column: span 3;
}
.advantages__items .advantages-card:nth-child(5n+3), .advantages__items .advantages-card:nth-child(5n+4), .advantages__items .advantages-card:nth-child(5n+5) {
  grid-column: span 2;
}

.advantages-card {
  --padding-card: 32px;
  padding: var(--padding-card);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  min-height: 330px;
  background-color: var(--secondary-color-1100);
  position: relative;
  --img-width: 20%;
}
.advantages-card--big {
  min-height: 404px;
}
.advantages-card--big .advantages-card__img {
  top: auto;
  bottom: var(--padding-card);
  right: 5px;
}
.advantages-card__header, .advantages-card__footer, .advantages-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 2;
}
.advantages-card:has(.advantages-card__img) .advantages-card__header, .advantages-card:has(.advantages-card__img) .advantages-card__footer, .advantages-card:has(.advantages-card__img) .advantages-card__content {
  max-width: calc(100% - var(--img-width));
}
.advantages-card__footer {
  margin-top: auto;
}
.advantages-card__footer .button--white .icon {
  color: var(--secondary-color-1200);
}
.advantages-card__img {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: calc(--img-width);
}
.advantages-card__img img {
  width: 100%;
  height: 100%;
}

.whyWe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.whyWe__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 20px;
}

.whyWe-item {
  background-color: var(--secondary-color-900);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 24px;
}
.whyWe-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: var(--secondary-color-900);
}
.about__info, .about__header, .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.about__info {
  padding: 50px;
}
.about__video-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.about__video-box[data-action=pause] .about__video-actions {
  opacity: 0;
}
.about__video-box[data-action=pause] .about__video-actions .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__video-box[data-action=pause] .about__video-actions .play {
  display: none;
}
.about__video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__video-actions {
  position: absolute;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.about__video-actions .pause {
  display: none;
}