.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.top__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(16px, 6.1870503597px + 0.9592326139vw, 20px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top__info {
  position: relative;
  width: 100%;
}
.top__swiper-box {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.top__swiper-box .swiper {
  width: 100%;
  height: 100%;
}
.top__item, .top__item-img {
  width: 100%;
  height: 100%;
}
.top__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top__info-content {
  position: relative;
  z-index: 2;
  padding: clamp(12px, 1.3922651934px + 2.2099447514vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
  height: 100%;
}
.top__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.top__cards .card-info {
  padding: clamp(12px, 1.3922651934px + 2.2099447514vw, 24px);
}
.top__details {
  max-width: 305px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(16px, 6.1870503597px + 0.9592326139vw, 20px);
}
@media (max-width: 1179px) {
  .top__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 60%;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .top__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__details {
    max-width: 100%;
  }
  .top__details .card-info {
    gap: 5px;
  }
  .top__info-content {
    min-height: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .top__cards {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .top__cards .card-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 360px) {
  .top__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top__header {
    word-break: break-all;
    overflow-wrap: break-word;
    -ms-hyphens: auto;
        hyphens: auto;
  }
  .top__header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages {
  background-color: var(--secondary-color-900);
}
.advantages__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: clamp(16px, -18.345323741px + 3.3573141487vw, 30px);
}
.advantages__items .advantages-card {
  grid-column: span 3;
}
@media (min-width: 1024px) {
  .advantages__items .advantages-card:nth-child(5n+3), .advantages__items .advantages-card:nth-child(5n+4), .advantages__items .advantages-card:nth-child(5n+5) {
    grid-column: span 2;
  }
}
@media (max-width: 1023px) {
  .advantages__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantages__items .advantages-card {
    grid-column: span 1;
  }
  .advantages__items .advantages-card:last-child {
    grid-column: 1/-1;
  }
}
@media (max-width: 767px) {
  .advantages__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.whyWe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.whyWe__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 20px;
}
@media (max-width: 1179px) {
  .whyWe__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .whyWe__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.whyWe-item {
  background-color: var(--secondary-color-900);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(16px, 12.4640883978px + 0.7366482505vw, 20px);
  padding: clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
}
.whyWe-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(12px, 1.3922651934px + 2.2099447514vw, 24px);
}

.about__inner {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: var(--secondary-color-900);
}
.about__info, .about__header, .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.about__info {
  padding: 50px clamp(32px, -12.1582733813px + 4.3165467626vw, 50px);
}
.about__video-box {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.about__video-box[data-action=pause] .about__video-actions {
  opacity: 0;
}
.about__video-box[data-action=pause] .about__video-actions .pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about__video-box[data-action=pause] .about__video-actions .play {
  display: none;
}
.about__video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__video-actions {
  position: absolute;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.about__video-actions .pause {
  display: none;
}
@media (max-width: 1300px) {
  .about .container {
    padding: 0;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__video-box {
    height: clamp(250px, 18.3977900552px + 48.2504604052vw, 512px);
  }
  .about__info {
    padding: clamp(20px, -6.5193370166px + 5.5248618785vw, 50px) clamp(20px, 9.3922651934px + 2.2099447514vw, 32px);
  }
}