.news-detail__inner {
  display: grid;
  grid-template-columns: auto 403px;
  gap: clamp(30px, 5.4676258993px + 2.3980815348vw, 40px);
}
.news-detail__info {
  width: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(32px, 12.3741007194px + 1.9184652278vw, 40px);
  background-color: var(--secondary-color-900);
  min-width: 0;
  width: 100%;
}
.news-detail__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.news-detail__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.news-detail__item-img {
  width: 100%;
  height: clamp(260px, 145.0828729282px + 23.94106814vw, 390px);
}
.news-detail__item-img--big {
  height: clamp(260px, 109.7237569061px + 31.3075506446vw, 430px);
}
.news-detail__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-detail__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.news-detail__banner {
  padding: clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
  background-color: var(--secondary-color-900);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.news-detail__banner--sticky {
  position: sticky;
  top: calc(var(--header-height, 100px) + 20px);
}
.news-detail__swiper-box {
  position: relative;
  min-width: 0;
  width: 100%;
}
@media (max-width: 1279px) {
  .news-detail__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .news-detail__banner--none {
    display: none;
  }
  .news-detail__banner--sticky {
    position: static;
  }
}
@media (max-width: 1023px) {
  .news-detail__inner {
    gap: clamp(24px, 18.6961325967px + 1.1049723757vw, 30px);
  }
  .news-detail__info {
    padding: var(--container-inline-padding);
  }
  .news-detail .container {
    padding: 0;
  }
  .news-detail__banners,
  .news-detail .topBox__header {
    padding-inline: var(--container-inline-padding);
  }
}

body.scrollBottom .news-detail__banner--sticky {
  top: 20px;
}