html {
  --main-color: #272727;
  --bg-color: #f1f1f2;
  --secondary-color-100: #272727;
  --secondary-color-200: #131313;
  --secondary-color-300: #2a2a26;
  --secondary-color-400: #454f5b;
  --secondary-color-500: #474f5a80;
  --secondary-color-600: #81817f;
  --secondary-color-700: #cfd4dc;
  --secondary-color-800: #f2f2f2;
  --secondary-color-900: #ffffff;
  --secondary-color-1000: #e5e5e5;
  --primary-color-100: #129247;
  --primary-color-200: #69da98;
  --font-main: "DIN Pro", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --weight-font-main: 400;
  --weight-font-md: 500;
  --weight-font-lg: 600;
  --weight-font-xl: 700;
  --weight-font-2xl: 800;
  --font-size-xs: clamp(12px, 10.2320441989px + 0.3683241252vw, 14px);
  --font-size-sm: clamp(16px, 16px + 0vw, 16px);
  --font-size-base: clamp(16px, 14.2320441989px + 0.3683241252vw, 18px);
  --font-size-md: clamp(18px, 12.6961325967px + 1.1049723757vw, 24px);
  --font-size-lg: clamp(24px, 20.4640883978px + 0.7366482505vw, 28px);
  --font-size-xl: clamp(24px, 16.9281767956px + 1.4732965009vw, 32px);
  --font-size-2xl: clamp(24px, 2.7845303867px + 4.4198895028vw, 48px);
  --font-size-3xl: clamp(26px, -18.1988950276px + 9.2081031308vw, 76px);
  --line-height-tighter: 1;
  --line-height-tight: 1.1;
  --line-height-base: 1.2;
  --line-height-relaxed: 1.3;
  --line-height-loose: 1.5;
  --line-height-looser: 1.66;
  --line-height-loosest: 1.75;
  --radius-sm: 4px;
  --radius-base: 8px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 28px;
  --container-inline-padding: clamp(20px, -15.813229572px + 4.6692607004vw, 32px);
  --container-max-width: calc(
    1275px + calc(var(--container-inline-padding) * 2)
  );
  --gap-blocks: clamp(60px, 7.0588235294px + 11.0294117647vw, 120px);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Redular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fontsMontserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
.h1,
h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

.h2,
h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--weight-font-lg);
  line-height: var(--line-height-tight);
}

h5,
.h5 {
  font-size: var(--font-size-md);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h6,
.h6 {
  font-size: var(--font-size-base);
  font-weight: var(--weight-font-xl);
  line-height: var(--line-height-relaxed);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tighter);
}

.text-green {
  color: var(--primary-color-100);
}

.text-center {
  text-align: center;
}
.text-center--media {
  text-align: left;
}
@media (max-width: 767px) {
  .text-center--media {
    text-align: center;
  }
}

.montserrat-font {
  font-family: var(--font-secondary);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  color: var(--main-color);
  font-weight: var(--weight-font-main);
  font-family: var(--font-main);
  overflow-x: hidden;
}
body.open-modal {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.topBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.bg-green {
  background-color: var(--primary-color-100);
}

.open--menu {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  font-weight: var(--weight-font-md);
  min-height: 51px;
  padding: 16px;
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button .icon {
  width: 20px;
  height: 20px;
}
.button .icon img,
.button .icon svg {
  width: 100%;
  height: 100%;
}
.button--gray {
  background-color: var(--secondary-color-800);
  color: var(--secondary-color-100);
}
.button--white {
  background-color: var(--secondary-color-900);
  color: var(--primary-color-100);
}
.button--dark {
  background-color: var(--secondary-color-100);
  color: var(--secondary-color-900);
}
.button--noBg {
  background-color: transparent;
  color: var(--secondary-color-100);
  border: 1px solid var(--secondary-color-1000);
}
.button--middle-btn {
  min-height: 47px;
  padding: 14px;
}
.button--small-btn {
  min-height: 43px;
  padding: 11px 16px;
}
.button--cub {
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  min-height: 0;
}
.button--big-cub {
  width: 64px;
  height: 64px;
}
.button--big-cub .icon {
  width: 32px;
  height: 32px;
}
.button--small-cub {
  width: 28px;
  height: 28px;
  padding: 4px;
}
.button--small-cub .icon {
  width: 16px;
  height: 16px;
}
.button--middle-cub {
  width: 47px;
  height: 47px;
}
.button.disabled {
  opacity: 0.7;
  pointer-events: none;
}