html {
  --main-color: #272727;
  --bg-color: #f1f1f2;
  --secondary-color-0: #000000;
  --secondary-color-50: #333333;
  --secondary-color-100: #272727;
  --secondary-color-200: #131313;
  --secondary-color-300: #2a2a26;
  --secondary-color-400: #454f5b;
  --secondary-color-500: #474f5a80;
  --secondary-color-600: #81817f;
  --secondary-color-650: #637381;
  --secondary-color-700: #cfd4dc;
  --secondary-color-800: #f2f2f2;
  --secondary-color-900: #ffffff;
  --secondary-color-1000: #e5e5e5;
  --secondary-color-1100: #f1f1f2;
  --secondary-color-1200: #787878;
  --secondary-color-1300: #efefef;
  --secondary-color-1350: #efefef26;
  --secondary-color-1400: #d4d4d4;
  --primary-color-100: #129247;
  --primary-color-200: #69da98;
  --font-main: "DIN Pro", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --weight-font-main: 400;
  --weight-font-md: 500;
  --weight-font-lg: 600;
  --weight-font-xl: 700;
  --weight-font-2xl: 800;
  --font-size-xs: clamp(12px, 10.2320441989px + 0.3683241252vw, 14px);
  --font-size-sm: clamp(16px, 16px + 0vw, 16px);
  --font-size-base: clamp(16px, 14.2320441989px + 0.3683241252vw, 18px);
  --font-size-md: clamp(18px, 12.6961325967px + 1.1049723757vw, 24px);
  --font-size-lg: clamp(24px, 20.4640883978px + 0.7366482505vw, 28px);
  --font-size-xl: clamp(24px, 16.9281767956px + 1.4732965009vw, 32px);
  --font-size-2xl: clamp(24px, 2.7845303867px + 4.4198895028vw, 48px);
  --font-size-3xl: clamp(26px, -18.1988950276px + 9.2081031308vw, 76px);
  --line-height-tighter: 1;
  --line-height-tight: 1.1;
  --line-height-base: 1.2;
  --line-height-relaxed: 1.3;
  --line-height-loose: 1.5;
  --line-height-looser: 1.66;
  --line-height-loosest: 1.75;
  --radius-sm: 4px;
  --radius-base: 8px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 28px;
  --container-inline-padding: clamp(20px, -15.813229572px + 4.6692607004vw, 32px);
  --container-max-width: calc(
    1275px + calc(var(--container-inline-padding) * 2)
  );
  --gap-blocks: clamp(60px, 7.0588235294px + 11.0294117647vw, 120px);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Redular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
.h1,
h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
  letter-spacing: -0.02em;
}

.h2,
h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--weight-font-lg);
  line-height: var(--line-height-tight);
}

h5,
.h5 {
  font-size: var(--font-size-md);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

.h5-add {
  font-size: 21px;
}

h6,
.h6 {
  font-size: var(--font-size-base);
  font-weight: var(--weight-font-xl);
  line-height: var(--line-height-relaxed);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tighter);
}

.text-green {
  color: var(--primary-color-100);
}

.text-center {
  text-align: center;
}
.text-center--media {
  text-align: left;
}
@media (max-width: 767px) {
  .text-center--media {
    text-align: center;
  }
}

.montserrat-font {
  font-family: var(--font-secondary);
}

.regular-font {
  font-weight: 400;
}

.medium-font {
  font-weight: 500;
}

.semibold-font {
  font-weight: 600;
}

.bold-font {
  font-weight: 700;
}

.lh110 {
  line-height: var(--line-height-tight);
}

.lh120 {
  line-height: var(--line-height-base);
}

.lh130 {
  line-height: var(--line-height-relaxed);
}

.ls-2 {
  letter-spacing: -0.02em;
}

.fz32-16 {
  font-size: clamp(16px, 1.8563535912px + 2.9465930018vw, 32px);
}

.fz32-21 {
  font-size: clamp(16px, 1.8563535912px + 2.9465930018vw, 32px);
}

.uppercase-text {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  color: var(--main-color);
  font-weight: var(--weight-font-main);
  font-family: var(--font-main);
  overflow-x: hidden;
}
body.open-modal {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main--top {
  padding-top: calc(var(--header-height, 71px) + 46px);
}
.main section:not(:last-child) {
  margin-bottom: var(--gap-blocks);
}
.main section:last-child {
  padding-bottom: var(--gap-blocks);
}
.main section.middle-padding-bottom {
  padding-bottom: calc(var(--gap-blocks) / 2);
}
.main section.middle-margin-bottom {
  margin-bottom: calc(var(--gap-blocks) / 2);
}
.main section.middle-padding-section {
  padding: calc(var(--gap-blocks) / 2) 0;
}
.main:has(.top-page) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(24px, 4.3741007194px + 1.9184652278vw, 32px);
}
@media (max-width: 767px) {
  .main--top {
    padding-top: calc(var(--header-height, 71px) + 32px);
  }
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon img,
.icon svg {
  width: 100%;
  height: 100%;
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(32px, 12.3741007194px + 1.9184652278vw, 40px);
}
.topBox--small {
  gap: clamp(24px, 4.3741007194px + 1.9184652278vw, 32px);
}
.topBox--specify {
  gap: clamp(24px, 4.3741007194px + 1.9184652278vw, 32px);
}
.topBox--specify .topBox__header-top {
  gap: clamp(24px, 4.3741007194px + 1.9184652278vw, 32px);
}
.topBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.topBox__header--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.topBox__header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(8px, -6.1436464088px + 2.9465930018vw, 24px);
}
@media (max-width: 1023px) {
  .topBox {
    gap: clamp(24px, 16.9281767956px + 1.4732965009vw, 32px);
  }
}

.bg-green {
  background-color: var(--primary-color-100);
}

.text-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: clamp(16px, 14.2320441989px + 0.3683241252vw, 18px) clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
}
.text-decor--big {
  padding: clamp(16px, -5.2154696133px + 4.4198895028vw, 40px);
}

.link-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.link-decor .icon {
  width: 10px;
  height: 10px;
}

.text-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  position: relative;
}
.text-dots:before {
  position: absolute;
  content: "";
  left: 0;
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
}

.top-page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.goods-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(16px, -18.345323741px + 3.3573141487vw, 30px);
}
@media (max-width: 1279px) {
  .goods-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .goods-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.more-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.open--menu {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  font-weight: var(--weight-font-md);
  min-height: clamp(44px, 37.8121546961px + 1.2891344383vw, 51px);
  padding: clamp(10px, 4.6961325967px + 1.1049723757vw, 16px);
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.button .icon {
  width: 20px;
  height: 20px;
}
.button .icon img,
.button .icon svg {
  width: 100%;
  height: 100%;
}
.button--gray {
  background-color: var(--secondary-color-800);
  color: var(--secondary-color-100);
}
.button--gray-accent {
  background-color: var(--secondary-color-1100);
  color: var(--primary-color-100);
}
.button--white {
  background-color: var(--secondary-color-900);
  color: var(--primary-color-100);
}
.button--white-second {
  background-color: var(--secondary-color-900);
  color: var(--secondary-color-100);
}
.button--dark {
  background-color: var(--secondary-color-100);
  color: var(--secondary-color-900);
}
.button--dark-second {
  background-color: var(--secondary-color-50);
  color: var(--secondary-color-900);
}
.button--noBg {
  background-color: transparent;
  color: var(--secondary-color-100);
  border: 1px solid var(--secondary-color-1000);
}
.button--middle-btn {
  min-height: 47px;
  padding: 14px;
}
.button--big-btn {
  min-height: clamp(40px, 4.6408839779px + 7.3664825046vw, 80px);
  padding: clamp(10px, -2.3756906077px + 2.5782688766vw, 24px) clamp(14px, 5.1602209945px + 1.8416206262vw, 24px);
}
.button--small-btn {
  min-height: 43px;
  padding: 11px 16px;
}
.button--cub {
  width: 44px;
  height: 44px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  min-height: 0;
}
.button--big-middle {
  width: 51px;
  height: 51px;
}
.button--big-x {
  width: 56px;
  height: 56px;
}
.button--big-x .icon {
  width: 32px;
  height: 32px;
}
.button--big-cub {
  width: clamp(56px, 48.9281767956px + 1.4732965009vw, 64px);
  height: clamp(56px, 48.9281767956px + 1.4732965009vw, 64px);
}
.button--big-cub .icon {
  width: 24px;
  height: 24px;
}
.button--small-cub {
  width: 28px;
  height: 28px;
  padding: 4px;
}
.button--small-cub .icon {
  width: 16px;
  height: 16px;
}
.button--s-cub {
  width: 42px;
  height: 42px;
}
.button--middle-cub {
  width: 47px;
  height: 47px;
}
.button--with-cub {
  padding: 4px 16px 4px 4px;
}
.button.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.header {
  position: fixed;
  z-index: 999;
  top: 14px;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header.scrollBottom {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}
.header__inner {
  padding: 14px 19px;
  background-color: var(--secondary-color-900);
}
@media (max-width: 767px) {
  .header {
    top: 0;
  }
  .header .container {
    padding: 0;
  }
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.breadcrumbs__link:not(:last-child) {
  padding-right: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-color-600);
}
.breadcrumbs__link:not(:last-child):before {
  position: absolute;
  content: "/";
  right: 0;
  color: currentColor;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
  min-height: 136px;
  background-color: var(--secondary-color-900);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card-info__header, .card-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.card-info--big {
  min-height: 150px;
}
.card-info--dark {
  background-color: var(--secondary-color-100);
}
.card-info--green {
  background-color: var(--primary-color-100);
}
.card-info--dark .card-info__header, .card-info--green .card-info__header {
  color: var(--secondary-color-900);
}
.card-info.isHover:hover {
  background-color: var(--primary-color-100);
}
.card-info__header .icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 1023px) {
  .card-info {
    min-height: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-decor {
  padding: clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(16px, 12.4640883978px + 0.7366482505vw, 20px);
  min-height: clamp(0px, -251.0497237569px + 52.3020257827vw, 284px);
}
.card-decor__header, .card-decor__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.card-decor__content {
  color: var(--secondary-color-900);
}
.card-decor__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.card-decor__icon-block {
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.card-decor__icon-block .icon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 2;
}
.card-decor__icon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: transparent;
}
.card-decor__icon img,
.card-decor__icon svg {
  width: 100%;
  height: 100%;
}
.card-decor__icon--bg {
  color: var(--secondary-color-900);
}

.arrows-swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.arrows-swiper__arrow.button--white .icon {
  color: rgba(0, 0, 0, 0.5019607843);
}
.arrows-swiper__arrow.swiper-button-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.arrows-swiper--absolute {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  right: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
.arrows-swiper--absolute .arrows-swiper__arrow {
  position: absolute;
}
.arrows-swiper--absolute .arrows-swiper__arrow.prev {
  left: 0;
}
.arrows-swiper--absolute .arrows-swiper__arrow.next {
  right: 0;
}
@media (max-width: 1023px) {
  .arrows-swiper--absolute {
    top: auto;
    bottom: 20px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .arrows-swiper--absolute .arrows-swiper__arrow {
    bottom: 0;
  }
}

.list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}
.list-info__link {
  width: 100%;
}
.list-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 16px;
  min-height: 45px;
  background-color: var(--secondary-color-900);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list-info__item .icon {
  width: 20px;
  height: 20px;
  color: var(--secondary-color-1200);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list-info__item:hover, .list-info__item.green {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
}
.list-info__item:hover .icon, .list-info__item.green .icon {
  color: var(--secondary-color-900);
}

.list-main {
  --padding-left-with-border: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.list-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.list-main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding-left: 24px;
}
.list-main__box--border {
  gap: 12px;
  padding-left: var(--padding-left-with-border);
}
.list-main__box--border .list-main__link:not(:last-child) {
  padding-bottom: 12px;
}
.list-main__box--border .list-main__link:not(:last-child):after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color-1000);
  bottom: 0;
  left: calc(var(--padding-left-with-border) * -1);
  right: 0;
}
.list-main__box--no-dots {
  padding-left: 0;
}
.list-main__box--no-dots .list-main__link:before {
  display: none;
}
.list-main__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.list-main__link:before {
  content: "";
  position: absolute;
  left: -14px;
  top: 6px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color-100);
  border-radius: 50%;
}
.list-main__link--gray:before {
  background-color: var(--secondary-color-1400);
}

.list-default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(8px, -0.8397790055px + 1.8416206262vw, 18px);
}
.list-default--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.list-default__link {
  width: 100%;
}
.list-default__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  width: 100%;
}
.list-default__head {
  color: var(--secondary-color-600);
}
@media (max-width: 767px) {
  .list-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list-simple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.list-simple__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}
.list-simple__link .p2 {
  font-size: 15px;
}
.list-simple__key {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .list-simple__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2px;
  }
}

.swiper-block .arrows-swiper:has(.arrows-swiper__arrow.prev.swiper-button-disabled):has(.arrows-swiper__arrow.next.swiper-button-disabled) {
  display: none;
}

.swiper--tabs .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}
.swiper--tabs .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1023px) {
  .swiper--tabs.swiper {
    overflow: visible;
  }
  .swiper--tabs .swiper-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0;
  }
  .swiper--tabs .swiper-wrapper .button * {
    word-break: keep-all;
    overflow-wrap: normal;
    -ms-hyphens: manual;
        hyphens: manual;
    white-space: nowrap;
  }
}

.swiper-pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-pagination-box .swiper-pagination.swiper-pagination-fraction {
  background-color: var(--secondary-color-100);
  color: var(--secondary-color-900);
  padding: 5px 8px;
  font-size: 12px;
  font-weight: var(--weight-font-lg);
}
.swiper-pagination-box--absolute {
  position: absolute;
  z-index: 9;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.swiper-pagination-box:has(.swiper-pagination.swiper-pagination-lock) {
  display: none;
}

.news-item {
  padding: clamp(20px, 16.4640883978px + 0.7366482505vw, 24px) clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
  background-color: var(--secondary-color-900);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 18px;
  height: 100%;
}
.news-item > *:not(:last-child) {
  padding-bottom: 18px;
  border-bottom: 1px solid var(--secondary-color-1000);
}
.news-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.news-item__header, .news-item__content, .news-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news-item__collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.swiper-block {
  overflow: hidden;
}
.swiper-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.swiper-block__box {
  width: 100%;
  min-width: 0;
}
.swiper-block__box .swiper-slide {
  height: auto;
}
@media (max-width: 1279px) {
  .swiper-block--noHidden .swiper {
    overflow: visible;
  }
}
@media (max-width: 767px) {
  .swiper-block .topBox__header {
    display: contents;
  }
  .swiper-block .arrows-swiper {
    -webkit-box-ordinal-group: 10001;
        -ms-flex-order: 10000;
            order: 10000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.reviews-item__img {
  width: 100%;
  height: auto;
  max-width: 700px;
}
.reviews-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-item--green {
  border: 2px solid var(--primary-color-100);
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.contact-form__info {
  display: grid;
  grid-template-columns: 40% auto;
  gap: clamp(16px, -18.4615384615px + 3.3653846154vw, 30px);
}
.contact-form__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact-form__box {
  padding: clamp(20px, 10.1538461538px + 0.9615384615vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  background-color: var(--secondary-color-900);
}
.contact-form__box > *:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--secondary-color-1300);
}
.contact-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.contact-form__box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.contact-form__info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(12px, 5.3101045296px + 1.393728223vw, 16px);
}
.contact-form__box-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(12px, 5.3101045296px + 1.393728223vw, 16px);
  max-width: 90%;
  margin-left: auto;
}
@media (max-width: 1279px) {
  .contact-form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .contact-form__box-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 360px) {
  .contact-form__info-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-form__info-btns .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form__info-btns .social .button--cub {
    width: 100%;
  }
}

.certificates-item {
  background-color: var(--secondary-color-900);
  padding: clamp(16px, -3.6258992806px + 1.9184652278vw, 24px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.certificates-item__header, .certificates-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.certificates-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}
.certificates-item__footer {
  margin-top: auto;
}
.certificates-item__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
@media (max-width: 360px) {
  .certificates-item__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px clamp(12px, -17.4388489209px + 2.8776978417vw, 24px);
  gap: 20px;
  background-color: var(--secondary-color-900);
}
.banner-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.banner-info__block {
  max-width: 40%;
  width: 100%;
}
.banner-info__block .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.banner-info__icon {
  width: 100%;
  height: 32px;
}
.banner-info__icon .icon {
  width: 100%;
  height: 100%;
}
.banner-info__icon img,
.banner-info__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1023px) {
  .banner-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .banner-info__block {
    max-width: 100%;
  }
  .banner-info__block .button {
    margin: 0;
    width: 100%;
  }
  .banner-info__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 12px;
  }
  .banner-info__content .h5 {
    font-size: clamp(14px, 10.4640883978px + 0.7366482505vw, 18px);
  }
}
@media (max-width: 360px) {
  .banner-info {
    gap: 10px;
  }
  .banner-info__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
  .banner-info__content .button {
    width: 100%;
  }
}

.good-item {
  padding: 12px;
  background-color: var(--secondary-color-900);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  height: 100%;
}
.good-item__img {
  background-color: var(--secondary-color-700);
  width: 100%;
  height: clamp(184px, 134.4972375691px + 10.3130755064vw, 240px);
}
.good-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.good-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(10px, 8.2320441989px + 0.3683241252vw, 12px);
  padding: clamp(10px, 8.2320441989px + 0.3683241252vw, 12px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.good-item__content > *:not(:last-child) {
  padding-bottom: clamp(10px, 8.2320441989px + 0.3683241252vw, 12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.good-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.good-item__footer {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}
@media (max-width: 767px) {
  .good-item__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    text-align: center;
  }
}

.good-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--secondary-color-900);
  padding: clamp(20px, 9.3922651934px + 2.2099447514vw, 32px);
  gap: 20px;
}
.good-big > *:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1215686275);
}
.good-big__header, .good-big__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.good-big__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.good-big__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .good-big__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    text-align: center;
  }
}

.logo {
  max-width: 280px;
  height: 81px;
}
.logo img,
.logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tab-btn.active {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
}

.tab-item {
  display: none;
  width: 100%;
}
.tab-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-details {
  background-color: var(--secondary-color-900);
  padding: clamp(24px, -15.2517985612px + 3.8369304556vw, 40px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.card-details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.card-details__img {
  width: 100%;
  height: clamp(240px, 47.2928176796px + 40.1473296501vw, 458px);
}
.card-details__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1023px) {
  .card-details {
    padding: clamp(16px, 8.9281767956px + 1.4732965009vw, 24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.support-block {
  padding: 16px;
  background-color: var(--secondary-color-1100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.support-block--big {
  padding: 24px;
}
.support-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.support-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer {
  padding: 60px 0 32px;
  background-color: var(--secondary-color-0);
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.footer__inner > *:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--secondary-color-1350);
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__list-head {
  text-transform: uppercase;
  color: var(--secondary-color-600);
}
.footer__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  color: var(--secondary-color-900);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.footer-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  padding-right: clamp(30px, -43.5971223022px + 7.1942446043vw, 60px);
  max-width: clamp(280px, 157.3381294964px + 11.9904076739vw, 330px);
  width: 100%;
}
.footer-top__info-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(12px, 8.4640883978px + 0.7366482505vw, 16px);
}
.footer-top__info-btns .button.button--with-cub {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-top__box {
  max-width: 283px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.footer-top__link {
  color: var(--secondary-color-900);
}
.footer-top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
@media (max-width: 1023px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-top__info, .footer-top__box {
    max-width: 100%;
    padding: 0;
  }
  .footer-top__box {
    gap: 16px;
  }
  .footer-top__box .list-default {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .footer-top__box .list-default__link:first-child {
    grid-column: 1/-1;
  }
}
@media (max-width: 767px) {
  .footer-top__info .logo {
    margin: 0 auto;
  }
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.footer-copy__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer-copy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  color: var(--secondary-color-600);
}
.footer-copy__list * {
  line-height: 1;
}
.footer-copy__dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  color: var(--secondary-color-700);
}
.footer-copy__dev__dev-logo {
  max-width: 114px;
  height: 41px;
  width: 100%;
}
.footer-copy__dev__dev-logo img,
.footer-copy__dev__dev-logo svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .footer-copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}