.technical-solutions {
  overflow: hidden;
}
.technical-solutions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.technical-solutions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.technical-solutions__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  list-style: none;
  counter-reset: list;
}
.technical-solutions__items .check-card {
  counter-increment: list 1;
}
.technical-solutions__boxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.technical-solutions__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.technical-solutions__swiper-box {
  min-width: 0;
  width: 100%;
}
.technical-solutions__table {
  border-collapse: separate;
  border-spacing: 2px 12px;
  width: auto;
  overflow: hidden;
  width: 100%;
  table-layout: fixed;
}
.technical-solutions__table td {
  vertical-align: top;
}
@media (max-width: 1023px) {
  .technical-solutions__table {
    table-layout: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 100%;
  }
  .technical-solutions__table td {
    min-width: 232px;
    max-width: 232px;
  }
}
@media (max-width: 1023px) {
  .technical-solutions__table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.technical-solutions__table-head td {
  padding-bottom: 12px;
}
.technical-solutions__table-head td:not(:last-child) {
  padding-left: 16px;
}
.technical-solutions__table-body td {
  width: auto;
  padding: 11px 16px;
  background-color: var(--secondary-color-900);
}
@media (max-width: 1279px) {
  .technical-solutions__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .technical-solutions__boxs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 900px) {
  .technical-solutions__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .technical-solutions__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.accommodation-card {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: var(--secondary-color-900);
  height: 100%;
}
.accommodation-card > *:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--secondary-color-1100);
}
.accommodation-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.accommodation-card__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 38px;
  aspect-ratio: 1/1;
  background-color: var(--secondary-color-1100);
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.accommodation-card__number:before {
  content: counter(list);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--primary-color-100);
  font-family: var(--font-secondary);
  font-weight: var(--weight-font-2xl);
  font-size: var(--font-size-base);
  line-height: 1;
}
.accommodation-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.accommodation-card__img {
  width: 100%;
  height: 137px;
  margin-top: auto;
}
.accommodation-card__img img,
.accommodation-card__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1279px) {
  .accommodation-card__img {
    height: 183px;
  }
}