.ui__inner {
  background-color: var(--secondary-color-900);
  padding: 20px;
  border-radius: var(--radius-md);
}
.ui__list, .ui__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}