@import "base/_helpers.scss";
@import "base/_vars.scss";
@import "base/_reset.scss";
@import "base/_fonts.scss";
@import "base/_print-font.scss";
@import "base/_global.scss";
@import "base/_utilis.scss";
@import "base/_buttons.scss";

@import "blocks/_header.scss";
@import "blocks/_menu.scss";
@import "blocks/_breadcrumbs.scss";
@import "blocks/_card-info.scss";
@import "blocks/_card-decor.scss";
@import "blocks/_arrows-swiper.scss";
@import "blocks/_lists.scss";
@import "blocks/_swiper.scss";
@import "blocks/_news.scss";
@import "blocks/_news-item.scss";
@import "blocks/_swiper-block.scss";
@import "blocks/_reviews-item.scss";
@import "blocks/_contact.scss";
@import "blocks/_contact-form.scss";
@import "blocks/_social.scss";
@import "blocks/_banner-info.scss";
@import "blocks/_good-item.scss";
@import "blocks/_good-big.scss";
@import "blocks/_logo.scss";
@import "blocks/_tabs.scss";
@import "blocks/_footer.scss";