.about {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: var(--secondary-color-900);
  }

  &__info,
  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info {
    padding: 50px;
  }

  &__video-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &[data-action="pause"] {
      .about {
        &__video-actions {
            opacity: 0;

          .pause {
            display: flex;
          }

          .play {
            display: none;
          }
        }
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video-actions {
    position: absolute;
    transition: all 1.5s;

    .pause {
      display: none;
    }
  }
}
