.about {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: var(--secondary-color-900);
  }

  &__info,
  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info {
    padding: 50px calculate-clamp(32px, 50px, 1440px, 1023px);
  }

  &__video-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &[data-action="pause"] {
      .about {
        &__video-actions {
          opacity: 0;

          .pause {
            display: flex;
          }

          .play {
            display: none;
          }
        }
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video-actions {
    position: absolute;
    transition: all 1.5s;

    .pause {
      display: none;
    }
  }

  @media (max-width: 1300px) {
    .container {
      padding: 0;
    }

    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__video-box {
      height: calculate-clamp(250px, 512px, 1023px, 480px);
    }

    &__info {
      padding: calculate-clamp(20px, 50px, 1023px, 480px) calculate-clamp(20px, 32px, 1023px, 480px);
    }
  }
}
