.advantages {
  background-color: var(--secondary-color-900);
  

  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;

    .advantages-card {
      grid-column: span 3;

      &:nth-child(5n + 3),
      &:nth-child(5n + 4),
      &:nth-child(5n + 5) {
        grid-column: span 2;
      }
    }
  }
}
