.advantages-card {
  --padding-card: #{calculate-clamp(20px, 32px, 1440px, 1023px)};

  padding: var(--padding-card);
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 330px;
  background-color: var(--secondary-color-1100);
  position: relative;

  --img-width: 20%;

  &.isHover {
    &:hover {
      .advantages-card {
        &__title {
          color: var(--primary-color-100);
        }

       &__footer {
        .button {
          @include hover-white-btn;
        }
       }
      }
    }
  }

  &--big {
    min-height: 404px;

    .advantages-card {
      &__img {
        top: auto;
        bottom: var(--padding-card);
        right: 5px;
      }
    }
  }

  &__header,
  &__footer,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;
  }

  &__title {
    transition: all 0.5s;
  }

  &:has(.advantages-card__img) {
    .advantages-card {
      &__header,
      &__footer,
      &__content {
        max-width: calc(100% - var(--img-width));
      }
    }
  }

  &__footer {
    margin-top: auto;

    .button--white {
      .icon {
        color: var(--secondary-color-1200);
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10%;
    bottom: 10%;
    display: flex;
    width: auto;
    max-width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: 1023px) {
    min-height: calculate-clamp(300px, 440px, 1023px, 480px);

    &__img {
      max-width: 70%;
      top: auto;
      bottom: var(--padding-card);
    }
  }

  @media (max-width: 767px) {
    &:has(.advantages-card__img) {
      .advantages-card {
        &__header,
        &__footer,
        &__content {
          max-width: 100%;
        }
      }
    }
  }
}
