.banner-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 20px;
  background-color: var(--secondary-color-900);

  &__content {
    display: flex;
    gap: 32px;
    align-items: center;
    
    width: 100%;
  }

  &__block {
    max-width: 40%;
    width: 100%;

    .button {
        width: fit-content;
        margin-left: auto;
    }
  }

  &__icon {
    width: 100%;
    height: 32px;

    .icon {
      width: 100%;
      height: 100%;
    }

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
