.banner-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px calculate-clamp(12px, 24px, 1440px, 1023px);
  gap: 20px;
  background-color: var(--secondary-color-900);

  &__content {
    display: flex;
    gap: 32px;
    align-items: center;

    width: 100%;
  }

  &__block {
    max-width: 40%;
    width: 100%;

    .button {
      width: fit-content;
      margin-left: auto;
    }
  }

  &__icon {
    width: 100%;
    height: 32px;

    .icon {
      width: 100%;
      height: 100%;
    }

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: normal;

    &__block {
      max-width: 100%;

      .button {
        margin: 0;
        width: 100%;
      }
    }

    &__content {
      flex-direction: row-reverse;
      justify-content: start;
      gap: 12px;

      .h5 {
        font-size: calculate-clamp(14px, 18px, 1023px, 480px);
      }
    }
  }

  @media (max-width: 360px) {
    gap: 10px;

    &__content {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 10px;

      .button {
        width: 100%;
      }
    }

 
  }
}
