.card-decor {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: 284px;

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content {
    color: var(--secondary-color-900);
  }

  &__icon-box {
    display: flex;
    align-items: center;
    gap: 0;
  }

  &__icon-block {
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .icon {
      width: 24px;
      height: 24px;
      position: relative;
      z-index: 2;
    }
  }

  

  &__icon {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    color: transparent;

    img,
    svg {
        width: 100%;
        height: 100%;
    }
  }

  &__icon--bg {
    color: var(--secondary-color-900);
  }
}
