.card-details {
  background-color: var(--secondary-color-900);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    width: 100%;
    height: 458px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
}
