.card-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: calculate-clamp(16px, 24px, 1023px, 480px);
  min-height: 136px;
  background-color: var(--secondary-color-900);
  justify-content: space-between;
  transition: all 0.5s;

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--big {
    min-height: 150px;
  }

  &--dark {
    background-color: var(--secondary-color-100);
  }

  &--green {
    background-color: var(--primary-color-100);
  }

  &--dark,
  &--green {
    .card-info {
      &__header {
        color: var(--secondary-color-900);
      }
    }
  }

  &.isHover {
    &:hover {
      // background-color: var(--primary-color-100);

      .button {
        @include hover-white-btn;
      }
    }
  }

  &__header {
    .icon {
      width: 24px;
      height: 24px;
    }
  }

  @media(max-width:1023px) {
    min-height: 0;
    flex-direction: row;
    align-items: center;
  }
}
