.card-details {
  background-color: var(--secondary-color-900);
  padding: calculate-clamp(24px, 40px, 1440px, 1023px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__img {
    width: 100%;
    height: calculate-clamp(240px, 458px, 1023px, 480px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1023px) {
    padding: calculate-clamp(16px, 24px, 1023px, 480px);
    display: flex;
    flex-direction: column-reverse;
  }
}
