.catalogy {
  overflow: hidden;

  &__btns {
    width: 100%;
    min-width: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 26px, 1440px, 1023px);
  }
}
