.certificates-item {
  background-color: var(--secondary-color-900);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__footer {
    margin-top: auto;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
