.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__info {
    display: grid;
    grid-template-columns: 40% auto;
    gap: calculate-clamp(16px, 30px, 1440px, 1024px);
  }

  &__box-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
  }

  &__box {
    padding: calculate-clamp(20px, 24px, 1440px, 1024px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--secondary-color-900);

    & > *:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--secondary-color-1300);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__box-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info-btns {
    display: flex;
    // flex-wrap: wrap;
    gap: calculate-clamp(12px, 16px, 767px, 480px);
  }

  &__box-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: calculate-clamp(12px, 16px, 767px, 480px);
    max-width: 90%;
    margin-left: auto;
  }

  @media(max-width:1279px) {
    &__info {
      display: flex;
      flex-direction: column;
    }
  }

  @media(max-width:767px) {
    &__box-btns {
      display: flex;
      flex-direction: column;
      align-items: normal;
      max-width: 100%;
      margin: 0;
    }
  }

  @media(max-width:360px) {
    &__info-btns {
      display: flex;
      flex-direction: column;

      .social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .button--cub {
          width: 100%;
        }
      }
    }
  }
}
