.contact {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 30px;
  }

  &__box-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex:1;
  }

  &__box {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--secondary-color-900);

    & > *:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--secondary-color-1300);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__box-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info-btns {
    display: flex;
    // flex-wrap: wrap;
    gap: 16px;
  }

  &__box-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
    max-width: 90%;
    margin-left: auto;
  }
}
