.dropdown {
  &__toggle {
    min-height: 46px;
    background-color: var(--secondary-color-900);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 16px;
    width: 100%;
    min-width: 236px;

    .icon {
      width: 20px;
      height: 20px;
      transition: all 0.5s;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }

    .arrow {
      color: var(--secondary-color-1500);
    }
  }

  &.active {
    .dropdown {
      &__toggle {
        .arrow {
          rotate: -180deg;
          color: var(--primary-color-100);
        }
      }
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    padding: 12px;
    overflow: hidden;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 257px;
    background-color: var(--secondary-color-900);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__item {
    min-height: 41px;
    background-color: var(--secondary-color-900);
    padding: 8px 11px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: var(--secondary-color-1100);
    }

    &.active {
      background-color: var(--secondary-color-1100);
      color: var(--primary-color-100);
    }
  }
}
