.footer {
  padding: 60px 0 32px;
  background-color: var(--secondary-color-0);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & > *:not(:last-child) {
      padding-bottom: 32px;
      border-bottom: 1px solid var(--secondary-color-600);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__list-head {
    text-transform: uppercase;
    color: var(--secondary-color-600);
  }

  &__list-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--secondary-color-900);
  }
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-right: 60px;
    max-width: 330px;
    width: 100%;
  }

  &__info-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .button {
      &.button--with-cub {
        justify-content: flex-start;
      }
    }
  }

  &__box {
    max-width: 283px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__link {
    color: var(--secondary-color-900);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.footer-copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--secondary-color-600);

    * {
      line-height: 1;
    }
  }

  &__dev {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--secondary-color-700);

    &__dev-logo {
      max-width: 114px;
      height: 41px;
      width: 100%;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
