.form-request {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
