.fos {
  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding: 30px 0;
  }

  .fos-form {
    max-width: 782px;
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: calc(50% + (var(--container-inline-padding) * 2));
    right: calc((var(--container-inline-padding) * 2) * -1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1023px) {
    &__img {
      display: none;
    }

    &__inner {
      padding: 0;
    }

    .fos-form {
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .container {
        padding: 0;
    }
  }
}
