.good-big {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color-900);
  padding: calculate-clamp(20px, 32px, 1023px, 480px);
  gap: 20px;

  & > *:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #0000001f;
  }

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content {
    flex: 1;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }

  @media(max-width:767px) {
    &__footer {
      flex-direction: column;
      align-items: normal;
      text-align: center;
    }
  }
}
