.good-item {
  padding: 12px;
  background-color: var(--secondary-color-900);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;

  &__img {
    background-color: var(--secondary-color-700);
    width: 100%;
    height: 240px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    flex:1;

    & > *:not(:last-child) {
      padding-bottom: 12px;
      border-bottom: 1px solid #0000001f;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 10px;
    align-items: center;
    margin-top: auto;
  }
}
