.good-section {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    min-width: 0;
    width: 100%;
  }

  &__swiper-box {
    min-width: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    .swiper,
    .swiper-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  &__swiper-big {
    width: 100%;
    height: 480px;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color-600);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__swiper-little {
    height: 146px;

    .swiper-slide {
      cursor: pointer;
      .good-section {
        &__img {
          border: 2px solid var(--bg-color);
          transition: all 0.5s;
        }
      }
    }

    .swiper-slide-thumb-active {
      .good-section {
        &__img {
          border-color: var(--primary-color-100);
        }
      }
    }
  }

  &__info {
    width: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 84px;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    background-color: var(--secondary-color-900);
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    border-top: 1px solid #0000001f;
    padding-top: 12px;
  }

  &__link-item {
    display: flex;
    align-items: center;
    gap: 12px;

    .p2 {
      font-size: 15px;
    }
  }

  &__link-key {
    opacity: 0.6;
  }
}
