.header {
  position: fixed;
  z-index: 999;
  top: 14px;
  left: 0;
  right: 0;
  transition: all .5s;

  &.scrollBottom {
    transform: translateY(-200%);
  }

  &__inner {
    padding: 14px 19px;
    background-color: var(--secondary-color-900);
  }
}
