.list-info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__link {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 16px;
    min-height: 45px;
    background-color: var(--secondary-color-900);
    transition: all 0.5s;

    .icon {
      width: 20px;
      height: 20px;
      color: var(--secondary-color-1200);
      transition: all 0.5s;
    }

    &:hover {
      color: var(--primary-color-100);

      .icon {
        color: var(--primary-color-100);
      }
    }

    &.green {
      background-color: var(--primary-color-100);
      color: var(--secondary-color-900);

      .icon {
        color: var(--secondary-color-900);
      }
    }
  }
}

.list-main {
  --padding-left-with-border: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 24px;

    &--border {
      gap: 12px;
      padding-left: var(--padding-left-with-border);

      .list-main {
        &__link {
          &:not(:last-child) {
            padding-bottom: 12px;

            &:after {
              position: absolute;
              content: "";
              width: 100%;
              height: 1px;
              background-color: var(--secondary-color-1000);
              bottom: 0;
              left: calc(var(--padding-left-with-border) * -1);
              right: 0;
            }
          }
        }
      }
    }

    &--no-dots {
      padding-left: 0;

      .list-main {
        &__link {
          &:before {
            display: none;
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &:before {
      content: "";
      position: absolute;
      left: -14px;
      top: 6px;
      width: 6px;
      height: 6px;
      background-color: var(--primary-color-100);
      border-radius: 50%;
    }

    &--gray {
      &:before {
        background-color: var(--secondary-color-1400);
      }
    }
  }
}

.list-default {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calculate-clamp(8px, 18px, 1023px, 480px);

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__link {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__head {
    color: var(--secondary-color-600);
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.list-simple {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .p2 {
      font-size: 15px;
    }
  }

  &__key {
    opacity: 0.6;
  }

  @media (max-width: 767px) {
    &__link {
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
    }
  }
}

.list-popup {
  position: relative;
  @include green-line;

  &:hover {
    .list-popup {
      &__arrow {
        rotate: -180deg;

        .icon {
          color: var(--primary-color-100);
        }
      }

      &__box {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__box {
    position: absolute;
    top: 100%;
    box-shadow: 0px 4px 16px 0px #0307120f, 0px 0px 16px 0px #0307120f;
    background-color: var(--secondary-color-900);
    padding: 12px;
    right: 0;
    width: 230px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    z-index: 10;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    transition: all 0.5s;
    padding: 11px 12px;

    &:hover {
      background-color: var(--secondary-color-1100);
    }
  }

  &__arrow {
    transition: all 0.5s;

    .icon {
      width: 10px;
      height: 8px;
    }
  }
}
