.logo {
  max-width: 280px;
  height: 81px;
  display: flex;

  &--mini {
    max-width: 141px;
    height: 43px;
  }

  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
