.menu {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    cursor: pointer;
    transition: all 0.5s;
    padding: 13px 0;

    .icon {
      width: 16px;
      height: 16px;
      transition: all 0.5s;
      color: var(--secondary-color-600);

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      .icon {
        color: var(--primary-color-100);
      }
    }
  }

  &__mobile {
    display: none;
    flex-direction: column;
    gap: 16px;
  }

  &__mobile-item {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .accordeon {
    &__answer {
      max-height: fit-content;
    }
  }

  &__burger {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-100);
    overflow: hidden;
  }

  &__burger-box {
    width: 18px;
    height: 12px;
    position: relative;

    span,
    &:after,
    &:before {
      width: 100%;
      left: 0;
      position: absolute;
      height: 2px;
      background-color: var(--secondary-color-900);
    }

    &:after,
    &:before {
      content: "";
    }

    &:before {
      top: 0;
      transition: rotate 0.5s, top 0.5s 0.5s;
    }

    &:after {
      bottom: 0;
      transition: rotate 0.5s, bottom 0.5s 0.5s;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
    }
  }

  @media (max-width: 1279px) {
    position: relative;
    order: 10000;

    &__content {
      position: fixed;
      right: calc(var(--container-inline-padding));
      top: calc(var(--header-height, 100px) + 18px);
      padding: 12px;
      width: fit-content;
      box-shadow: 0px 4px 16px 0px #0307120f, 0px 0px 16px 0px #0307120f;
      background-color: var(--secondary-color-900);
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      transform: translateX(100%);
      transition: all 0.5s;
      max-width: 400px;
    }

    &.active {
      .menu {
        &__content {
          opacity: 1;
          visibility: visible;
          transform: translate(0);
        }

        &__burger-box {
          span {
            transform: translateX(-100px);
          }

          &:before {
            top: 50%;
            transform: translateY(-50%);
            rotate: 45deg;
            transition: top 0.5s, rotate 0.5s 0.5s;
          }

          &:after {
            bottom: 50%;
            transform: translateY(50%);
            rotate: -45deg;
            transition: bottom 0.5s, rotate 0.5s 0.5s;
          }
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 2px;
    }

    &__item-box {
      padding: 11px 12px;

      &.green-line {
        &:after {
          display: none;
        }
      }

      &.active,
      &:hover {
        background-color: var(--secondary-color-1100);
      }
    }

    .list-popup {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &__box {
        position: static;
        opacity: 1;
        visibility: visible;
        padding: 0;
        box-shadow: none;
        width: 100%;
      }

      &__list {
        gap: 2px;
        max-width: 100%;
        
      }

      &__item {
        padding: 8px 12px 8px 22px;
      }

      &:after {
        display: none;
      }

      &:hover {
        .list-popup {
          &__arrow {
            rotate: 0deg;

            .icon {
              color: currentColor;
            }
          }
        }
      }

      &.active {
        color: currentColor;

        .list-popup {
          &__btn {
            background-color: var(--secondary-color-1100);
          }

          &__arrow {
            rotate: -180deg;

            .icon {
              color: var(--primary-color-100);
            }
          }
        }
      }
    }

    .accordeon {
      &__answer {
        max-height: 0;
      }
    }

    &__burger {
      display: flex;
    }
  }

  @media (max-width: 1023px) {
    &__mobile {
      display: flex;

      .header {
        &__details-info {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__mobile-item {
      display: flex;
    }
  }

  @media (max-width: 500px) {
    &__content {
      left: calc(var(--container-inline-padding));
      width: calc(100vw - (var(--container-inline-padding) * 2));
      max-width: 100%;
    }
  }

  @media (max-width: 360px) {
    .header__details-info {
      flex-direction: column;
      align-items: normal;
    }

    .social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .button {
        width: 100%;
      }
    }
  }
}
