.news-detail {
  &__inner {
    display: grid;
    grid-template-columns: auto 403px;
    gap: 40px;
  }

  &__info {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--secondary-color-900);
    min-width: 0;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item-img {
    width: 100%;
    height: 390px;

    &--big {
      height: 430px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__banner {
    padding: 24px;
    background-color: var(--secondary-color-900);
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: all 0.5s;

    &--sticky {
      position: sticky;
      top: calc(var(--header-height, 100px) + 20px);
    }
  }

  &__swiper-box {
    position: relative;
    min-width: 0;
    width: 100%;
  }
}

body.scrollBottom {
  .news-detail {
    &__banner {
      &--sticky {
        top: 20px;
      }
    }
  }
}
