.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__img {
    width: 100%;
    height: 592px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--green {
    border: 2px solid var(--primary-color-100);
  }
}
