.support-block {
  padding: 16px;
  background-color: var(--secondary-color-1100);
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--big {
    padding: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
