.swiper-block {
  .arrows-swiper {
    &:has(.arrows-swiper__arrow.prev.swiper-button-disabled):has(
        .arrows-swiper__arrow.next.swiper-button-disabled
      ) {
      display: none;
    }
  }
}

.swiper--tabs {
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .swiper-slide {
    width: fit-content;
  }

  @media (max-width: 1023px) {
    &.swiper {
      overflow: visible;
    }

    .swiper-wrapper {
      flex-wrap: nowrap;
      gap: 0;

      .button {
        * {
          word-break: keep-all; 
          overflow-wrap: normal; 
          hyphens: manual;
          white-space: nowrap;
        }
        
      }
    }
  }
}

.swiper-pagination-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper-pagination {
    &.swiper-pagination-fraction {
      background-color: var(--secondary-color-100);
      color: var(--secondary-color-900);
      padding: 5px 8px;
      font-size: 12px;
      font-weight: var(--weight-font-lg);
    }
  }

  &--absolute {
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &:has(.swiper-pagination.swiper-pagination-lock) {
    display: none;
  }
}
