.swiper-block {
  .arrows-swiper {
    &:has(.arrows-swiper__arrow.prev.swiper-button-disabled):has(
        .arrows-swiper__arrow.next.swiper-button-disabled
      ) {
      display: none;
    }
  }
}

.swiper--tabs {
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .swiper-slide {
    width: fit-content;
  }
}
