.swiper-block {
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__box {
    width: 100%;
    min-width: 0;

    .swiper-slide {
      height: auto;
    }
  }

  @media (max-width: 1279px) {
    &--noHidden {
      .swiper {
        overflow: visible;
      }
    }
  }

  @media(max-width:767px) {
    .topBox__header {
      display: contents;
    }

    .arrows-swiper {
      order:10000;
      justify-content: center;
    }
  }
}
