.top {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__info {
    position: relative;
    width: 100%;
  }

  &__swiper-box {
    position: absolute;
    inset: 0;
    z-index: 1;

    .swiper {
      width: 100%;
      height: 100%;
    }
  }

  &__item,
  &__item-img {
    width: 100%;
    height: 100%;
  }

  &__item-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-content {
    position: relative;
    z-index: 2;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    height: 100%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__details {
    max-width: 305px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
