.top {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__content {
    display: flex;
    gap: calculate-clamp(16px, 20px, 1440px, 1023px);
    justify-content: space-between;
  }

  &__info {
    position: relative;
    width: 100%;
  }

  &__swiper-box {
    position: absolute;
    inset: 0;
    z-index: 1;

    .swiper {
      width: 100%;
      height: 100%;
    }
  }

  &__item,
  &__item-img {
    width: 100%;
    height: 100%;
  }

  &__item-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info-content {
    position: relative;
    z-index: 2;
    padding: calculate-clamp(12px, 24px, 1023px, 480px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    height: 100%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .card-info {
      padding: calculate-clamp(12px, 24px, 1023px, 480px);
    }
  }

  &__details {
    max-width: 305px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 20px, 1440px, 1023px);
  }

  @media (max-width: 1179px) {
    &__cards {
      display: flex;
      flex-direction: column;
      max-width: 60%;
      width: 100%;
    }
  }

  @media (max-width: 1023px) {
    &__content {
      flex-direction: column;
    }

    &__details {
      max-width: 100%;

      .card-info {
        gap: 5px;
      }
    }

    &__info-content {
      min-height: 450px;
      flex-direction: column;
      align-items: normal;
    }

    &__cards {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card-info {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  @media (max-width: 360px) {
    &__cards {
      display: flex;
      flex-direction: column;
    }

    &__header {
      word-break: break-all;
      overflow-wrap: break-word;
      hyphens: auto;

      h1 {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
