.whyWe-item {
  background-color: var(--secondary-color-900);
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(16px, 20px, 1023px, 480px);
  padding: calculate-clamp(16px, 24px, 1023px, 480px);

  &__header {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(12px, 24px, 1023px, 480px);
  }
}
