.whyWe-item {
  background-color: var(--secondary-color-900);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
