.whyWe {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 20px;
  }

  @media(max-width:1179px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media(max-width:767px) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
}
