.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: var(--weight-font-md);
  min-height: 51px;
  padding: 16px;
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
  transition: all 0.5s;

  .icon {
    width: 20px;
    height: 20px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--gray {
    background-color: var(--secondary-color-800);
    color: var(--secondary-color-100);
  }

  &--white {
    background-color: var(--secondary-color-900);
    color: var(--primary-color-100);
  }

  &--dark {
    background-color: var(--secondary-color-100);
    color: var(--secondary-color-900);
  }

  &--noBg {
    background-color: transparent;
    color: var(--secondary-color-100);
    border: 1px solid var(--secondary-color-1000);
  }

  &--middle-btn {
    min-height: 47px;
    padding: 14px;
  }

  &--small-btn {
    min-height: 43px;
    padding: 11px 16px;
  }

  &--cub {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    padding: 10px;
    min-height: 0;
  }

  &--big-cub {
    width: 64px;
    height: 64px;

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  &--small-cub {
    width: 28px;
    height: 28px;
    padding: 4px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &--middle-cub {
    width: 47px;
    height: 47px;
    
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
