@mixin hover-white-btn {
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);

  .icon {
    color: var(--secondary-color-900);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: var(--weight-font-md);
  min-height: calculate-clamp(44px, 51px, 1023px, 480px);
  padding: calculate-clamp(10px, 16px, 1023px, 480px);
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);
  transition: all 0.5s;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--gray {
    background-color: var(--secondary-color-800);
    color: var(--secondary-color-100);

    &:hover,
    &:active {
      background-color: var(--primary-color-100);
      color: var(--secondary-color-900);
    }
  }

  &--gray-accent {
    background-color: var(--secondary-color-1100);
    color: var(--primary-color-100);
  }

  &--white {
    background-color: var(--secondary-color-900);
    color: var(--primary-color-100);

    &:hover,
    &:active {
      @include hover-white-btn;
    }
  }

  &--white-dark-color {
    background-color: var(--secondary-color-900);
    color: var(--secondary-color-10);

    &:hover,
    &:active {
      @include hover-white-btn;
    }
  }

  &--white-second {
    background-color: var(--secondary-color-900);
    color: var(--secondary-color-100);
  }

  &--dark {
    background-color: var(--secondary-color-100);
    color: var(--secondary-color-900);
  }

  &--dark-second {
    background-color: var(--secondary-color-50);
    color: var(--secondary-color-900);
  }

  &--noBg {
    background-color: transparent;
    color: var(--secondary-color-100);
    border: 1px solid var(--secondary-color-1000);

    &:hover,
    &:active {
      background-color: var(--primary-color-100);
      color: var(--secondary-color-900);
      border-color: var(--primary-color-100);
    }
  }

  &--hover-green-color {
    &:hover,
    &:active {
      color: var(--primary-color-200);
    }
  }

  &--hover-blue-color {
    &:hover,
    &:active {
      color: var(--blue-color-100);
    }
  }

  &--hover-blue {
    &:hover,
    &:active {
      background-color: var(--blue-color-100);
    }
  }

  &--middle-btn {
    min-height: 47px;
    padding: 14px;
  }

  &--big-btn {
    min-height: calculate-clamp(40px, 80px, 1023px, 480px);
    padding: calculate-clamp(10px, 24px, 1023px, 480px)
      calculate-clamp(14px, 24px, 1023px, 480px);
  }

  &--small-btn {
    min-height: 43px;
    padding: 11px 16px;
  }

  &--cub {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    padding: 10px;
    min-height: 0;
  }

  &--big-middle {
    width: 51px;
    height: 51px;
  }

  &--big-x {
    width: 56px;
    height: 56px;

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  &--big-cub {
    width: calculate-clamp(56px, 64px, 1023px, 480px);
    height: calculate-clamp(56px, 64px, 1023px, 480px);

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &--small-cub {
    width: 28px;
    height: 28px;
    padding: 4px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &--s-cub {
    width: 42px;
    height: 42px;
  }

  &--middle-cub {
    width: 47px;
    height: 47px;
  }

  &--with-cub {
    padding: 4px 16px 4px 4px;

    &:hover,
    &:active {
      .button--dark {
        background-color: var(--primary-color-100);
      }
    }
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
