@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Redular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
