html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  color: var(--main-color);
  font-weight: var(--weight-font-main);
  font-family: var(--font-main);
  overflow-x: hidden;

  &.open-modal {
    overflow: hidden;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;

  &--top {
    padding-top: calc(var(--header-height, 71px) + 46px);
  }

  section {
    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }

    &:last-child {
      padding-bottom: var(--gap-blocks);
    }

    &.middle-padding-bottom {
      padding-bottom: calc(var(--gap-blocks) / 2);
    }

    &.middle-margin-bottom {
      margin-bottom: calc(var(--gap-blocks) / 2);
    }

    &.middle-padding-section {
      padding: calc(var(--gap-blocks) / 2) 0;
    }
  }

  &:has(.top-page) {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img,
  svg {
    width: 100%;
    height: 100%;
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &--small {
    gap: 32px;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;

    &--column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-top {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.bg-green {
  background-color: var(--primary-color-100);
}

.text-decor {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  background-color: var(--primary-color-100);
  color: var(--secondary-color-900);

  &--big {
    padding: 40px;
  }
}

.link-decor {
  display: flex;
  align-items: center;
  gap: 6px;

  .icon {
    width: 10px;
    height: 10px;
  }
}

.text-dots {
  display: flex;
  align-items: center;
  padding-left: 10px;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    left: 0;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
  }
}

.top-page {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.goods-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.more-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
