html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  color: var(--main-color);
  font-weight: var(--weight-font-main);
  font-family: var(--font-main);
  overflow-x: hidden;

  &.open-modal {
    overflow: hidden;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}

.bg-green {
  background-color: var(--primary-color-100);
}
