@use "sass:math";

@function calculate-clamp(
  $min,
  $max,
  $width-at-max: 1500px,
  $min-width: 415px
) {
  $slope: math.div($max - $min, $width-at-max - $min-width);
  $intercept: $min - $slope * $min-width;
  @return clamp(#{$min}, calc(#{$intercept} + #{$slope * 100}vw), #{$max});
}
// calculate-clamp(200px, 300px, 1500px, 767px)

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
