.h1,
h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
  letter-spacing: calc((1em * 0.02) * -1);
}

.h2,
h2 {
  font-size: var(--font-size-2xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--weight-font-lg);
  line-height: var(--line-height-tight);
}

h5,
.h5 {
  font-size: var(--font-size-md);
  font-weight: var(--weight-font-2xl);
  line-height: var(--line-height-tighter);
}

.h5-add {
  font-size: 21px;
}

h6,
.h6 {
  font-size: var(--font-size-base);
  font-weight: var(--weight-font-xl);
  line-height: var(--line-height-relaxed);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-tighter);
}

.text-green {
  color: var(--primary-color-100);
}

.text-center {
  text-align: center;

  &--media {
    text-align: left;

    @media (max-width: 767px) {
      text-align: center;
    }
  }
}

.montserrat-font {
  font-family: var(--font-secondary);
}

.regular-font {
  font-weight: 400;
}

.medium-font {
  font-weight: 500;
}

.semibold-font {
  font-weight: 600;
}

.bold-font {
  font-weight: 700;
}

.lh110 {
  line-height: var(--line-height-tight);
}

.lh120 {
  line-height: var(--line-height-base);
}

.lh130 {
  line-height: var(--line-height-relaxed);
}

.ls-2 {
  letter-spacing: calc((1em * 0.02) * -1);
}

.uppercase-text {
  text-transform: uppercase;
}
