html {
  --main-color: #272727;
  --bg-color: #f1f1f2;

  --secondary-color-0: #000000;
  --secondary-color-50: #333333;
  --secondary-color-100: #272727;
  --secondary-color-200: #131313;
  --secondary-color-300: #2a2a26;
  --secondary-color-400: #454f5b;
  --secondary-color-500: #474f5a80;
  --secondary-color-600: #81817f;
  --secondary-color-650: #637381;
  --secondary-color-700: #cfd4dc;
  --secondary-color-800: #f2f2f2;
  --secondary-color-900: #ffffff;
  --secondary-color-1000: #e5e5e5;
  --secondary-color-1100: #f1f1f2;
  --secondary-color-1200: #787878;
  --secondary-color-1300: #efefef;
  --secondary-color-1350: #efefef26;
  --secondary-color-1400: #d4d4d4;

  --primary-color-100: #129247;
  --primary-color-200: #69da98;

  --font-main: "DIN Pro", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --weight-font-main: 400;
  --weight-font-md: 500;
  --weight-font-lg: 600;
  --weight-font-xl: 700;
  --weight-font-2xl: 800;

  --font-size-xs: #{calculate-clamp(12px, 14px, 1023px, 480px)};
  --font-size-sm: #{calculate-clamp(16px, 16px, 1023px, 480px)};
  --font-size-base: #{calculate-clamp(16px, 18px, 1023px, 480px)};
  --font-size-md: #{calculate-clamp(18px, 24px, 1023px, 480px)};
  --font-size-lg: #{calculate-clamp(24px, 28px, 1023px, 480px)};
  --font-size-xl: #{calculate-clamp(24px, 32px, 1023px, 480px)};
  --font-size-2xl: #{calculate-clamp(24px, 48px, 1023px, 480px)};
  --font-size-3xl: #{calculate-clamp(26px, 76px, 1023px, 480px)};

  --line-height-tighter: 1;
  --line-height-tight: 1.1;
  --line-height-base: 1.2;
  --line-height-relaxed: 1.3;
  --line-height-loose: 1.5;
  --line-height-looser: 1.66;
  --line-height-loosest: 1.75;

  --radius-sm: 4px;
  --radius-base: 8px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 28px;

  --container-inline-padding: #{calculate-clamp(20px, 32px, 1024px, 767px)};
  --container-max-width: calc(
    1275px + calc(var(--container-inline-padding) * 2)
  );

  --gap-blocks: #{calculate-clamp(60px, 120px, 1024px, 480px)};
}
